:root {
    /* ## Colors */

    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
}

body {
    font-family: "Young Serif", serif;
    /* font-weight: 400; */
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {}

header img {
    width: 100%;
}

.container {
    padding: 20px;
}

header h1 {
    margin-top: 5px;
    color: var(--Stone-900);
}

header p {
    color: var(--Stone-600);
    font-family: "Outfit", serif;
}

header .group {
    background-color: hsl(330, 71%, 97%);
    padding: 15px;
    font-family: "Outfit", serif;
    border-radius: 10px;
    margin-top: 30px;
}

header .group h5 {
    color: var(--Rose-800);
    margin: 0;
    font-size: 1.2rem;
}

header .group ul li {
    color: var(--Rose-800);
}

header .group ul li p {
    font-weight: 700;
}

header .group ul li p span {
    font-weight: 400;
}

/* MAIN  */

main .card {
    border-bottom: 1px solid var(--Stone-150);
}

main .card h5 {
    font-size: 1.5rem;
    color: var(--Brown-800);
    font-weight: 500;
    margin-bottom: 10px;
}

main .card.first h5 {
    margin-top: 0px;
}

main .card.first ul {}

main .card.first ul li {
    color: var(--Stone-600);
    font-family: "Outfit", serif;
    margin-bottom: 10px;
}

main .card.second ul {
    list-style: decimal;
    color: var(--Rose-800);
    padding-left: 20px;
}

main .card.second ul li {
    color: var(--Stone-600);
    font-family: "Outfit", serif;
    margin-bottom: 10px;
    color: var(--Rose-800);
    font-weight: 600;
    padding-left: 10px;
}

main .card.second ul li p {
    color: var(--Stone-600);
    font-weight: 400;
}

main .card.second ul li p span {
    font-weight: 600;
    padding-right: 8px;
    color: var(--Stone-600);
}

main .card.third {
    border-bottom: none !important;
}

main .card.third p {
    font-family: "Outfit", serif;
    color: var(--Stone-600);
    font-weight: 400;
}

main .card.third table {
    text-align: center;
    width: 100%;
}

main .card.third table tr td {
    border-bottom: 1px solid var(--Stone-150);
    padding-top: 10px;
    padding-bottom: 10px;
}

main .card.third table tr .none-line {
    border-bottom: none;
}

main .card.third table tr th {
    border-bottom: 1px solid var(--Stone-150);
    padding-bottom: 10px;
}
main .card.third table tr .dark {
    font-family: "Outfit", serif;
    color: var(--Stone-600);
    font-weight: 400;

}

main .card.third table tr .bronw {
    font-family: "Outfit", serif;
    color: var(--Rose-800);
    font-weight: 600;

}

@media only screen and (min-width: 1200px) {
    .container {
        width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--White);
        margin-top: 30px;
        border-radius: 10px 10px 0px 0px;
    }
    main{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--White);
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 30px;
    }
    header .container-img{
        padding: 20px !important;
        /* border: 1px solid red; */
    }

    header .container-img img {
        /* border: 1px solid red; */
        width: 100%;
        border-radius: 10px;
    }

    body{
        background-color: var(--Stone-150);
    }
}